/* Begin: Sidebar Left */
.socials-list{
    padding: 4px;  
    width: fit-content;
    position: fixed;
    top: 0;
    margin-top: 100px;

}
.socials-list a{
 
    text-decoration: none;
}

.socials-list img{
    width: 40px;
    border-radius: 6px;
}

.socials-list ul{
    list-style: none;
}

.socials-list .fb-link,
.socials-list .ig-link,
.socials-list .pin-link{
    scale: 1;
    transition: 0.2s;
}

.socials-list .fb-link:hover,
.socials-list .ig-link:hover,
.socials-list .pin-link:hover{
    scale: 1.05;
    transition: 0.2s;
    opacity: 0.8;
}

.socials-list .fb-link .tooltip-fb,
.socials-list .ig-link .tooltip-ig,
.socials-list .pin-link .tooltip-pin{
    font-size: 16px;
    visibility: hidden;
    background-color: rgb(247, 245, 245);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}

.socials-list .fb-link:hover .tooltip-fb,
.socials-list .ig-link:hover .tooltip-ig,
.socials-list .pin-link:hover .tooltip-pin {
    visibility: visible;
}
/* End: Sidebar Left */

/* Begin: Sidebar Right */

.sales-icon{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    scale: 1;
    transition: 0.2s;
    margin-top: 100px;
}

.sales-icon img{
    width: 130px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; */
    /* box-shadow: 100%; */
}

.sales-icon:hover{
    scale: 1.05;
    transition: 0.2s; 
    opacity: 0.8;
}

/* Begin: Style-Section */
.text-heading {
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
    font-weight: lighter;
    margin: 140px 0 0 0;
    text-align: center;
}

.style-section .image-container,
.product-section .product{
    margin-top: 20px;
}

.style-section .image-container img{
    cursor: pointer;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.09);
    /* scale: 1;
    transition: 0.2s; */
}

.style-section .image-container .style-img{
    padding: 0 4px;
    border-radius: 10px;
}

.style-section .image-container .style-img-item{
    overflow: hidden;
    border-radius: 10px;

}

.style-section .image-container .style-img img{
    transition: transform ease 0.2s;
}

.style-section .image-container .style-img:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}

.btn-more a{
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px 20px;
}

.btn-more{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    opacity: 0.3;
    background-color: white;
    cursor: pointer;
    scale: 1;
    transition: 0.2s;
}

.btn-more a:hover{
    background-color: black;
    color: white;
}

.btn-more:hover{
    scale: 1.05;
    transition: 0.2s;
}

/* End: Style Section */

/* Begin: Collection-Section */
.collection-section{
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.collection-section .header-collection{
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.collection-section .text-collection p{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    margin: 8px 0;
}

.collection-section .image-collection .collection-img{
    padding: 0 4px;
    border-radius: 10px;
}

.collection-section .image-collection .collection-img-item{
    overflow: hidden;
    border-radius: 10px;

}

.collection-section .image-collection img{
    width: 100%;
    border-radius: 10px;
    /* padding: 0 8px; */
    /* margin: 20px; */
    cursor: pointer;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.09);
    transition: transform ease 0.2s;
}

.collection-section .image-collection img:hover{
    transform: scale(1.1);
    opacity: 0.9;
}


/* End: Collection-Section */

/* Begin: Product-Section */
.product-section{
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
}

.product-section h1{
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    background: url(../img/linebrush.png) no-repeat center;
    background-size: 170px;
}

.product-section .header-product{
    text-align: left;
    text-indent: 18px;
    line-height: 50px;
    background: url(img/linebrush.png) no-repeat;
    background-size: 170px;
}

.product-section .product img,
.product-detail-container .product-related .image-product img{
    width: 100%;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.09);
    /* text-align: center; */
    border-radius: 10px 10px 0 0;
    display: block;
}

.product-section .product p,
.product-detail-container .product-related p{
    font-size: 1.3rem;
    padding: 16px 0 4px 0;
}

.product-section .product span,
.product-detail-container .product-related span{
    font-size: 1.4rem;
    color: #7574d0;
}

.product-section .product .image-product,
.product-detail-container .product-related .image-product{
    border-radius: 10px;
    cursor: pointer;
}

.product-section .product .image-product-item,
.product-detail-container .product-related .image-product .image-product-item{
    overflow: hidden;
    border-radius: 10px 10px 0 0;

}

.product-section .product .image-product img,
.product-detail-container .product-related .image-product img{
    transition: transform ease 0.2s;

}

.product-section .product .image-product:hover img,
.product-detail-container .product-related .image-product:hover img{
    transform: scale(1.1);
    opacity: 0.9;

}

.product-section .image-product .button-add,
.product-detail-container .product-related .image-product .button-add{
    width: 100%;
    margin-left: 0;
}

.product-section .image-product .button-add:hover,
.product-detail-container .product-related .image-product .button-add:hover{
    opacity: 1;
}

.product-section .image-product .button-buy,
.product-detail-container .product-related .image-product .button-buy{
    text-align: left;
    border-radius: 0 0 0 10px;
}

.product-section .image-product .button-show,
.product-detail-container .product-related .image-product .button-show{
    text-align: right;  
    border-radius: 0 0 10px 0;
}

.product-section .image-product .button-buy:hover,
.product-section .image-product .button-show:hover,
.product-detail-container .product-related .image-product .button-buy:hover,
.product-detail-container .product-related .image-product .button-show:hover{
    opacity: 0.8;
}

.product-section .image-product .button-buy i,
.product-section .image-product .button-show i,
.product-detail-container .product-related .image-product .button-buy i,
.product-detail-container .product-related .image-product .button-show i{
    font-size: 1.4rem;
}

.product-section .image-product .button-buy,
.product-section .image-product .button-show,
.product-detail-container .product-related .image-product .button-buy,
.product-detail-container .product-related .image-product .button-show{
    text-align: center;
    background-color: var(--primary-color);
    padding: 8px 4px;
}

.product-section .image-product .action-buy,
.product-section .image-product .action-show,
.product-detail-container .product-related .image-product .action-buy,
.product-detail-container .product-related .image-product .action-show{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    margin-right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 28px;
}

.product-section .btn-more{
    margin-top: 0;
}

.product-section .soft{
    text-align: right;
}

.product-section .soft-by{
    font-size: 1.6rem;
    color: #DD478D;;
    padding: 0 20px 0 0;
    margin-top: 2.8rem;
    border-color: transparent;
    border-bottom: 1px solid #000;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
    /* -webkit-appearance: none; */
    text-indent: 1px;
}

.product-section .soft-by::after{
    content: "\e64b";
    font-family: 'themify';
    font-size: 14px;
    color: #000;
    /* display: block;
    position: absolute;
    right: 0;
     top: 40px;
    right: 30px; */
}

.logo-product{
    font-family: "Dancing Script", cursive;
    text-decoration: none;
    color: black;
    font-size: 4.2rem;
}

.main-logo-product{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 16px 0 0 30px;
}
/* End: Product-Section */

/* Mobile - Tablet */
.menu-search-mobile{
    height: 40px;
    background-color: rgba(252, 192, 197, 0.3);
    border: 4px solid white;
    border-radius: 6px;
    display: none;
}
.input-search-mobile{
    font-size: 1.6rem;
    margin: 8px 0 0 20px;
    width: calc(100% - 70px);
    background-color: rgba(252, 192, 197, -0.7);
    border: none;
    outline: none;
}
.search-icon-mobile{
    float: right;
    width: fit-content;
    font-size: 2rem;
    padding: 3px 10px 0px 0px;
}

/* Buy Section */
.buy-section .sidebar-left{
    padding-top: 20px;
    padding-right: 100px;
}

.buy-section .sidebar-right{
    padding-top: 20px;
    padding-left: 40px;
}


/* Sidebar Left */
.buy-section .sidebar-left .logo-buy{
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

.buy-section .sidebar-left .input-voucher{
    margin-top: 12px;
}

.buy-section .sidebar-left .login-buy-section{
    cursor: pointer;
    color: #338dbc;
    font-weight: 500;
}

.buy-section .sidebar-left .login-buy-section:hover{
    opacity: 0.7;
}

.buy-section .sidebar-left ul,
.buy-section .content-sidebar-left .title,
.buy-section .content-sidebar-left .sub-header-order{
    padding-top: 10px;
}

.buy-section .sidebar-left li {
    display: inline-block;
    font-size: 1.2rem;
}

.buy-section .sidebar-left .arrow-right-buy{
    font-size: 1rem;
    padding: 0 6px;
}

.buy-section .content-sidebar-left .title{
    font-size: 2rem;
    font-weight: 400;
}

.buy-section .content-sidebar-left .sub-header-order{
    font-size: 1.4rem;
    opacity: 0.8;
}

.buy-section .content-sidebar-left .sub-header-order a{
    text-decoration: none;
}

.buy-section .content-sidebar-left .form-order .input-buy-email{
    padding-left: 0;
}
.buy-section .content-sidebar-left .form-order .input-buy-phone{
    padding-right: 0;
}

.buy-section .content-sidebar-left .form-order .prov,
.buy-section .content-sidebar-left .form-order .footer-pay{
    padding-left: 0;
}

.buy-section .content-sidebar-left .form-order .wd,
.buy-section .content-sidebar-left .form-order .btn-buy-product{
    padding-right: 0;
}

.buy-section .content-sidebar-left .form-order .footer-buy{
    padding: 0;
}



.buy-section .content-sidebar-left .form-order .province,
.buy-section .content-sidebar-left .form-order .district,
.buy-section .content-sidebar-left .form-order .ward{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 12px;
    width: 100%;
}

.buy-section .content-sidebar-left .footer-buy .btn-buy-product,
.buy-section .content-sidebar-left .footer-cart{
    margin-top: 12px;
}

.buy-section .content-sidebar-left .footer-buy .buy-product{
    width: 100%;
    padding: 16px 0;
    font-size: 1.5rem;
    border-radius: 6px;
    border: none;
    background-color: #338dbc;
    color: white;
    cursor: pointer;
}

.buy-section .content-sidebar-left .footer-cart{
    color: #338dbc;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.buy-section .content-sidebar-left .cart-buy-section{
    cursor: pointer;
}

.buy-section .content-sidebar-left .cart-buy-section:hover,
.buy-section .content-sidebar-left .footer-buy .buy-product:hover{
    opacity: 0.7;
}

.buy-section .content-sidebar-left .form-buy,
.buy-section .content-sidebar-left .footer-pay{
    margin: 0;
}

/* Sidebar Right */
.buy-section .sidebar-right{
    box-shadow: 1px 0 0 #e1e1e1 inset;
}

.sidebar-right .product-image .product-thumnail{
    position: relative;
    width: 7rem;
}

.sidebar-right .product-image .product-thumnail-quantity{
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    background-color: rgba(153, 153, 153, 0.9);
    color: #fff;
}

.sidebar-right .product-image{
    padding-bottom: 10px;
}


.sidebar-right .product-image img{
    width: 100%;
    border-radius: 10px;
}


.sidebar-right .product-description{
    padding: 0 0 0 14px;
    width: 100%;
}

.sidebar-right .product-description .main-description,
.sidebar-right .product-price,
.sidebar-right .sub-total-product .sub-total-price{
    font-size: 1.6rem;
    font-weight: 400;
}

.sidebar-right .product-description .sub-description{
    font-size: 1.3rem;
    opacity: 0.6;
}

.sidebar-right .sub-total-product .sub-total-name{
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    opacity: 0.8;
}

.sidebar-right .sub-total-product .sub-total-price{
    text-align: right;
}

.sidebar-right .sub-total-product td{
    padding-top: 10px;
}

.sidebar-right .voucher{
    width: 100%;
    margin-left: 0;
    text-align: right;
}

.sidebar-right .use-voucher{
    background-color: black;
    color: white;
    opacity: 0.3;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
}

.sidebar-right .use-voucher:hover{
    opacity: 0.4;
}


.sidebar-right .input-voucher,
.sidebar-left .input-voucher{
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.buy-section .header-buy .line{
    margin: 10px 0;
}

.sidebar-right .total-product .total-name{
    width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    opacity: 0.8;
}

.sidebar-right .total-product .currency{
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.5;
    padding-right: 10px;
    margin-top: 10px;
}


.sidebar-right .total-product .total-price{
    font-size: 2.4rem;
    font-weight: 500;
    opacity: 0.8;
}

.main-logo-buy{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

/* Detail Product Page */
.product-detail-container{
    padding-top: 40px;
}

.product-detail-container .list-image-detail li{
    list-style: none;
    cursor: pointer;
}

.product-detail-container .list-image-detail li:hover{
    opacity: 0.8;
}

.product-detail-container .product-image-detail{
    padding: 0 10px;
}

.product-detail-container .image-detail-item img,
.product-detail-container .product-image-detail img{
    width: 100%;
    border-radius: 6px;
}

.product-detail-container .info-product{
    padding-left: 10px;
}

.product-detail-container .info-product .pro-price{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.product-detail-container .info-product .product-title{
    padding-bottom: 10px;
}

.product-detail-container .info-product .product-title h1{
    font-weight: 500;
}

.product-detail-container .info-product .product-price,
.product-detail-container .info-product .select-swap-size,
.product-detail-container .info-product .quantity-product{
    padding: 20px 0;
}

.product-detail-container .info-product .select-size{
    display: inline-block;
    padding: 10px 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.product-detail-container .info-product .size-M{
    margin-left: 20px;
}

.product-detail-container .info-product .select-size .btn-size{
    cursor: pointer;
} 

.product-detail-container .info-product .quantity-product{
    font-size: 0;
}

.product-detail-container .info-product .quantity-product .quantity-select{
    font-weight: 600;
    font-size: 1.6rem;
    padding: 6px 0;
    width: 6rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.07);
    outline: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
}

.product-detail-container .info-product .quantity-product .quantity-btn-plus,
.product-detail-container .info-product .quantity-product .quantity-btn-minus,
.modal-cart .modal-body .cart-product-list .quantity-btn-minus,
.modal-cart .modal-body .cart-product-list .quantity-btn-plus{
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    outline: none;
    padding: 6px 5px;
    text-align: center;
}

.product-detail-container .info-product .wrap-addcart{
    padding-bottom: 20px;
}

.product-detail-container .info-product .btn-addcart-product{
    width: fit-content;
    padding: 20px 0px;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.product-detail-container .info-product .btn-addcart-product a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    padding: 20px 100px;
}

.product-detail-container .info-product .btn-addcart-product:hover,
.product-detail-container .info-product .btn-addcart-product:hover a{
    background-color: rgba(252, 192, 197, 0.1);
    color: red;
}

.product-detail-container .info-product .panel-heading{
    font-size: 1.6rem;
    padding: 10px 0;
}

.product-detail-container .info-product .panel-info-title,
.product-detail-container .info-product .panel-return-title,
.product-detail-container .info-product .panel-ship-title,
.product-detail-container .info-product .panel-payment-title,
.product-detail-container .info-product .arrow-right-panel{
    display: inline-block;
    cursor: pointer;
}

.product-detail-container .info-product .arrow-right-panel{
    float: right;
    font-size: 1rem;
}


.product-detail-container .line-title{
    position: relative;
    height: 1px;
    background-color: #254e9e;
    margin: 40px 0 10px 0;
    text-align: center;
}

.product-detail-container .line-title span{
    position: relative;
    top: -2rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: #254e9e;
    background-color: #fff;
    padding: 10px;
}

.product-detail-container .product-related .product{
    margin-top: 20px;
}

.product-detail-container .product-detail-item{
    margin: 0;
}

.product-detail-container .page-dots .page-dots-item__active{
    opacity: 1;
}

.product-detail-container .page-dots ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.product-detail-container .page-dots li{
    padding: 10px;
    opacity: 0.3;
}

.product-detail-container .product-detail-item .info-product .panel-policy-return-title,
.product-detail-container .product-detail-item .info-product .panel-policy-ship-title,
.product-detail-container .product-detail-item .info-product .panel-policy-payment-title,
.product-detail-container .product-detail-item .info-product .panel-policy-info-title{
    display: none;
    font-size: 1.6rem;
    text-align: justify;
    padding: 10px 20px 10px 20px;
    color: rgba(0, 0, 0, 0.6);
}

.product-detail-container .product-detail-item .info-product .panel-policy-return-title p,
.product-detail-container .product-detail-item .info-product .panel-policy-ship-title p,
.product-detail-container .product-detail-item .info-product .panel-policy-payment-title p,
.product-detail-container .product-detail-item .info-product .panel-policy-info-title p{
    line-height: 3rem;
}

.product-detail-container .product-detail-item .info-product .panel-group{
    width: 100%;
    max-height: 450px;
    overflow: auto;
    text-align: justify;
}


/* Product Page */
.product-section-page .header-product{
    visibility: hidden;
}

.product-section-page .pagination-product{
    display: flex;
    justify-content: center;
}

.product-section-page .pagination-product__active{
    margin-top: 40px;
}

.product-section-page .pagination-product .prev{
    margin-right: 20px;
}

.product-section-page .pagination-product a{
    padding: 10px;
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: #DD478D;
}

.product-section-page .pagination-product .page-node{
    opacity: 0.4;
}

.product-section-page .pagination-product .next{
    margin-left: 20px;
}

.product-section-page .pagination-product .page-node__active{
    opacity: 1;
}

.product-section-page .pagination-product a:hover{
    color: var(--primary-color);
}

.product-detail-container .product-related .pagination-related .next-icon,
.product-detail-container .product-related .pagination-related .prev-icon{
    display: flex;
}
  
.product-detail-container .product-related .pagination-related button{
    /* display: inline-block; */
    background-color: #ddd;
    border: none;
    color: #333;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.6rem;
    margin: 0 5px;
    cursor: pointer;
}

.product-detail-container .product-related .pagination-related .prev-btn{
    position: absolute;
    left: 8rem;
    margin-top: -23rem;
}

.product-detail-container .product-related .pagination-related .next-btn{
    position: absolute;
    right: 8rem;
    margin-top: -23rem;

}


/* Button */
.scroll-to-top{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    font-size: 3rem;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.messenger-icon{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    margin: 0 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.messenger-icon:hover{
    scale: 1.1;
}

.messenger-icon img{
    width: 100%;
}

#scroll-to-top:hover{
    color: #ccc;
}


