.footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-left: 4px;
    padding-right: 4px;
}

.footer-container,
.style-section .image-container{
    padding: 0 1rem;
    
}

.more{
    font-size: 1.5rem;
    max-height: 420px;
    overflow: auto;
}

.more .btn-more a {
    font-size: 1rem;
}

.more .btn-more a:hover{
    background-color: black;
    color: white;
}

.more .panel-policy-sales,
.more .panel-policy-payment,
.more .panel-policy-order,
.more .panel-policy-return,
.more .panel-policy-privacy,
.more .panel-policy-collab{
    margin-bottom: 3rem;  
    scale: 1;
    transition: 0.2s;
    width: fit-content;
    cursor: pointer;
}

.more .panel-policy-heading:hover{
    scale: 1.04;
    transition: 0.2s;
}

.more .panel-policy-sales-title,
.more .panel-policy-payment-title,
.more .panel-policy-order-title,
.more .panel-policy-return-title,
.more .panel-policy-privacy-title,
.more .panel-policy-collab-title{
    display: none;
    font-size: 1.6rem;
    text-align: justify;
    padding: 0 10rem 30px 20px;
    color: rgba(0, 0, 0, 0.6);
}

.container-contact{
    font-size: 1.5rem;
}

.container-contact h3,
.container-contact li{
    padding-bottom: 2rem;
}

.container-contact li{
    list-style: none;
}

.container-contact a{
    color: #182cef;
    opacity: 1;
    padding: 1.3rem 0;
    text-decoration: none;
}

.container-contact a:hover{
    opacity: 0.6;
}

.container-contact .socials-footer a{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}

.container-contact h3{
    letter-spacing: 0.3rem;
}


.container-contact img{
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.footer .container-contact .contact-title{
    padding-left: 1.6rem;
}

.footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 0;
    font-size: 15px;
    text-align: center;
}
.footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: line-through rgba(0, 0, 0, 0.3);
}

.footer .copyright a:hover{
    opacity: 0.6;
}

.footer .line-full{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}