/* Mobile - Tablet */
@media (max-width: 63.9375em) {
    .menu-circle{
        display: none;
    }
    .menu-search{
        display: none;
    }
    .modal-login{
        margin-top: 0;
    }
    .menu-search-mobile{
        display: block;
    }
    .menu-mobile{
        display: block;
    }
    .cart-mobile{
        display: block;
    }
    .modal-login,
    .modal-cart{
        width: 100%;  
        left: 0;  
    }
    .user-mobile{
        display: block;
    } 
    .text-heading{
        margin-top: 10px;
    }
    .more .btn-more{
        margin: 0 auto;
    }
    .more li:last-child{
        padding: 0;
    }
    .collection-section{
        margin-top: 0;
    }
    .style-section .image-container img{
        margin-top: 8px;
    }
    .collection-section .image-collection img{
        margin: 6px 0;
    }
    .contact{
        margin-top: 20px;
    }
    .header-buy{
        display: flex;
        flex-direction: column-reverse;
    }
    .buy-section .sidebar-right{
        box-shadow: none;
        padding-left: 0;
    }
    .buy-section .sidebar-left{
        padding: 0;
    }
    .main-logo-product{
        padding: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    .product-section-page .soft-by{
        padding: 10px;
    }
    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .collection-section{
        margin-left: 7px;
        margin-right: 5px;
    }
    .more{
        margin-left: -2px;
    }
    .contact{
        padding-left: 5px;
    }
    .product-section{
        margin-left: 9px;
        margin-right: 8px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
        font-size: 1.2rem;
    }
    .container-contact .contact .footer-accept{
        padding-top: 90px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
    padding: 9px 22px;
    }
    /* .modal-login{
        transform: translateY(-300%);
    } */
    /* .input-login:checked ~ .modal-login{
        transform: translateY(-155%);
    }
    .input-cart:checked ~ .modal-cart{
        transform: translateY(-166%);
    } */
}

/* Mobile */
@media (max-width: 46.1875em) {
    .product-section .image-product .button-buy,
    .product-section .image-product .button-show{
        padding: 10px 0;
    }
    .row.product{
        margin-left: 0;
        margin-right: 0;
    }
    .more{
        font-size: 1.8rem;
    }
    .more ul{
        padding: 0 4px;
    }
    .col.contact{
        padding-left: 6px;
        padding-right: 6px;
    }
    .contact h3,
    .contact ul,
    .contact .socials-footer{
        text-align: center;
    }
    .collection-section .header-collection{
        margin: 0 4px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
        font-size: 1.1rem;
    }   
    .container-contact .contact .footer-accept{
        padding-top: 0;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
        padding: 9px 20px;
    }
    .buy-section .content-sidebar-left .footer-cart{
        flex-direction: column-reverse;
    }
    .header-buy{
        margin: 0;
    }
    .btn-buy-product,
    .input-buy-email,
    .input-buy-phone{
        padding: 0;
    }
    .footer .more{
        font-size: 1.6rem;
    }
}

/* PC */
@media (min-width: 64em){
    .wide .col{
        padding-left: 4px;
        padding-right: 4px;
    }
    .collection-section{
        margin-left: 8px;
        margin-right: 8px;
    }
    .product-section{
        margin-left: 8px;
        margin-right: 13px;
    }
    .more{
        padding-left: 10px;
    }
    .collection-section .text-collection{
        padding-right: 2px;
    }
    .more ul{
        padding-right: 4px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .collection-section{
        margin-right: 21px;
    }
    .collection-section .text-collection{
        padding-right: 14px;
    }

    .more ul{
        padding-right: 4px;
    }
    .product-section{
        margin-right: 14px; 
    }
    .container-contact .contact .footer-accept{
        padding-top: 34px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
    padding: 9px 14px;
    }
}