/* Mobile - Tablet */
@media (max-width: 63.9375em) {
    .menu-circle{
        display: none;
    }
    .menu-search{
        display: none;
    }
    .modal-login{
        margin-top: 0;
    }
    .menu-search-mobile{
        display: block;
    }
    .menu-mobile{
        display: block;
    }
    .cart-mobile{
        display: block;
    }
    .modal-login,
    .modal-cart,
    .modal-history,
    .modal-voucher,
    .modal-notification{
        width: 100%;  
        left: 0;  
    }
    .user-mobile{
        display: block;
    } 
    .text-heading{
        margin-top: 10px;
    }
    .more .btn-more{
        margin: 0 auto;
    }
    .more li:last-child{
        padding: 0;
    }
    .collection-section{
        margin-top: 0;
    }
    .style-section .image-container img{
        margin-top: 8px;
    }
    .collection-section .image-collection img{
        margin: 6px 0;
    }
    .contact{
        margin-top: 20px;
    }
    .header-buy{
        display: flex;
        flex-direction: column-reverse;
    }
    .buy-section .sidebar-right{
        box-shadow: none;
        padding-left: 0;
    }
    .buy-section .sidebar-left{
        padding: 0;
    }
    .main-logo-product{
        padding: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    .contact-title{
        text-align: center;
    }
    .product-detail-container .info-product .btn-addcart-product{
        width: 100%;
        text-align: center;
    }
    .product-detail-container .product-related{
        padding: 0 4px;
    }
    .product-detail-container .info-product .quantity-product .quantity-btn-plus,
    .product-detail-container .info-product .quantity-product .quantity-btn-minus,
    .modal-cart .modal-body .cart-product-list .quantity-btn-minus,
    .modal-cart .modal-body .cart-product-list .quantity-btn-plus{
        padding: 6px 0;
    }
    .product-detail-container .info-product .quantity-product .quantity-select,
    .modal-cart .modal-body .cart-product-list .cart-product-quantity .quantity-select{
        padding: 6px 0;
        width: 2.8rem;
    }

    .product-detail-container .info-product .quantity-product .btn-plus,
    .product-detail-container .info-product .quantity-product .btn-minus{
        padding: 6px 12px;

    }
    .buy-section .content-sidebar-left .form-order .footer-buy{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .product-detail-container .product-related .pagination-related{
        display: none;
    }
    .more .panel-policy-sales-title,
    .more .panel-policy-payment-title,
    .more .panel-policy-order-title,
    .more .panel-policy-return-title,
    .more .panel-policy-privacy-title,
    .more .panel-policy-collab-title{
        padding: 0 2rem 30px 20px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .collection-section{
        margin-left: 7px;
        margin-right: 5px;
    }
    .more{
        margin-left: -2px;
    }
    .contact{
        padding-left: 5px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
        font-size: 1.2rem;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show,
    .product-related .image-product .button-add .action-buy,
    .product-related .image-product .button-add .action-show{
    padding: 9px 20px;
    }
    .modal-history .modal-body .cart-product-quantity .cart-product-price,
    .modal-voucher .modal-body .cart-product-quantity .cart-product-price{
        margin-top: 70%;
    }  
}

/* Mobile */
@media (max-width: 46.1875em) {
    .product-section .image-product .button-buy,
    .product-section .image-product .button-show{
        padding: 10px 0;
    }
    .row.product{
        margin-left: 0;
        margin-right: 0;
    }
    .more{
        font-size: 1.8rem;
    }
    .more ul{
        padding: 0 4px;
    }
    .footer .container-contact .contact{
        padding-left: 4px;
        padding-right: 4px;
    }
    .contact h3,
    .contact ul,
    .contact .socials-footer{
        text-align: center;
    }
    .collection-section .header-collection{
        margin: 0 4px;
    }
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show{
        font-size: 1.1rem;
    }   
    .product-section .image-product .action-buy,
    .product-section .image-product .action-show,
    .product-related .image-product .button-add .action-buy,
    .product-related .image-product .button-add .action-show{
        padding: 9px 12px;
    }
    .buy-section .content-sidebar-left .footer-cart{
        flex-direction: column-reverse;
    }
    .header-buy{
        margin: 0;
    }
    .btn-buy-product,
    .input-buy-email,
    .input-buy-phone{
        padding: 0;
    }
    .footer .more{
        font-size: 1.6rem;
    }
    .product-detail-container .list-image-detail{
        display: none;
    }
    .style-section .image-container,
    .product-section .product-section-list{
        padding: 4px;
    }
    .footer-container{
        padding: 0px;
    }
    .product-section-page .pagination-product a{
        padding: 10px;
        margin: 0;
    }
    .product-detail-container .product-image-detail,
    .product-detail-container .info-product{
        padding: 0;
    }
    .modal-cart .modal-body .cart-product-title .size-product{
        font-size: 1rem;
    }
    .modal-cart .modal-body .cart-product-quantity .cart-product-price,
    .modal-cart .cart-product-list {
        font-size: 1rem;
    }
    .modal-cart .modal-footer .text-left,
    .modal-cart .modal-footer .text-right{
        font-size: 1.4rem;
    }
}

/* PC */
@media (min-width: 64em){
    .wide .col{
        padding-left: 4px;
        padding-right: 4px;
    }
    .collection-section{
        margin-left: 8px;
        margin-right: 8px;
    }
    .product-section,
    .product-related{
        margin-left: 8px;
        margin-right: 13px;
    }
    .more{
        padding-left: 10px;
    }
    .collection-section .text-collection{
        padding-right: 2px;
    }
    .more ul{
        padding-right: 4px;
    }
    .product-detail-container .page-dots{
        display: none;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .collection-section{
        margin-right: 21px;
    }
    .collection-section .text-collection{
        padding-right: 14px;
    }

    .more ul{
        padding-right: 4px;
    }
    .product-section{
        margin-right: 14px; 
    }
    .product-related .image-product .button-add .action-buy,
    .product-related .image-product .button-add .action-show,
    .product-section .image-product .button-add .action-buy,
    .product-section .image-product .button-add .action-show{
    padding: 9px 14px;
    }
    .modal-history .modal-body .cart-product-quantity .cart-product-price,
    .modal-voucher .modal-body .cart-product-quantity .cart-product-price{
        margin-top: 30%;
    }  
    .product-detail-container .product-related .pagination-related .next-btn{
        right: 0
    }
    .product-detail-container .product-related .pagination-related .prev-btn{
        left: 0;
    }
    .more, 
    .container-contact{
        font-size: 1.5rem;
    }
}